In [47]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [48]:
dataset = pd.read_csv("../Dataset/insurance.csv")

In [49]:
df = pd.DataFrame(dataset)

In [50]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [51]:
X =df[df.columns[:-1]] # Feaature  columns
y = df[df.columns[-1]] #Target columns

In [52]:
print(X)

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [53]:
print(y)

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [54]:
X.isnull().sum() # dedicte How many colmns is null

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

In [55]:
X.head()

   age     sex     bmi  children smoker     region
0   19  female  27.900         0    yes  southwest
1   18    male  33.770         1     no  southeast
2   28    male  33.000         3     no  southeast
3   33    male  22.705         0     no  northwest
4   32    male  28.880         0     no  northwest

In [56]:
import warnings
warnings.filterwarnings('ignore')

In [57]:
#check if the all columns types is correct and dedicte it
X['bmi'] = pd.to_numeric(X['bmi'], errors='coerce')
X['age'] = pd.to_numeric(X['age'], errors='coerce')
X['children'] = pd.to_numeric(X['children'], errors='coerce')

X

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [58]:
#Filling missing data with the fillna way
X['age'].fillna(X['age'].mean(), inplace=True)
X['sex'].fillna(X['sex'].mode()[0], inplace=True)
X['region'].fillna(X['region'].mode()[0], inplace=True)
X['bmi'].fillna(X['bmi'].mean(), inplace=True)
X['children'].fillna(X['children'].mode()[0], inplace=True)
X['smoker'].fillna(X['smoker'].mode()[0], inplace=True)

print(X.isnull().sum())
X

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
dtype: int64

      age     sex     bmi  children smoker     region
0      19  female  27.900         0    yes  southwest
1      18    male  33.770         1     no  southeast
2      28    male  33.000         3     no  southeast
3      33    male  22.705         0     no  northwest
4      32    male  28.880         0     no  northwest
...   ...     ...     ...       ...    ...        ...
1333   50    male  30.970         3     no  northwest
1334   18  female  31.920         0     no  northeast
1335   18  female  36.850         0     no  southeast
1336   21  female  25.800         0     no  southwest
1337   61  female  29.070         0    yes  northwest

[1338 rows x 6 columns]

In [59]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#Label Encoding for sex and smoker columns
# X["sex"] = le.fit_transform(df["sex"])
# X["smoker"] = le.fit_transform(df["smoker"])

#Encoding with Dummies way for the region column
X = pd.get_dummies(X,columns=['region'],drop_first=False)
X= pd.get_dummies(X,columns=['sex'],drop_first=False)
X= pd.get_dummies(X,columns=['smoker'],drop_first=False)

In [60]:
X["region_northeast"] = X["region_northeast"].astype(int)
X["region_northwest"] = X["region_northwest"].astype(int)
X["region_southeast"] = X["region_southeast"].astype(int)
X["region_southwest"] = X["region_southwest"].astype(int)
X["sex_male"]= X["sex_male"].astype(int)
X["sex_female"] = X["sex_female"].astype(int)
X["smoker_no"] = X["smoker_no"].astype(int)
X["smoker_yes"] = X["smoker_yes"].astype(int)

In [61]:
X

,age,bmi,children,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,0,0,0,1,1,0,0,1
1,18,33.770,1,0,0,1,0,0,1,1,0
2,28,33.000,3,0,0,1,0,0,1,1,0
3,33,22.705,0,0,1,0,0,0,1,1,0
4,32,28.880,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,0,0,0,1,1,0
1334,18,31.920,0,1,0,0,0,1,0,1,0
1335,18,36.850,0,0,0,1,0,1,0,1,0
1336,21,25.800,0,0,0,0,1,1,0,1,0
1337,61,29.070,0,0,1,0,0,1,0,0,1

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state=42)

In [63]:
print(X_train)

      age     bmi  children  region_northeast  region_northwest  \
332    61  31.160         0                 0                 1
355    46  27.600         0                 0                 0
138    54  31.900         3                 0                 0
381    55  30.685         0                 1                 0
292    25  45.540         2                 0                 0
...   ...     ...       ...               ...               ...
1095   18  31.350         4                 1                 0
1130   39  23.870         5                 0                 0
1294   58  25.175         0                 1                 0
860    37  47.600         2                 0                 0
1126   55  29.900         0                 0                 0

      region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
332                  0                 0           1         0          1
355                  0                 1           0         1          1
138                  1                 0           1         0          1
381                  0                 0           0         1          0
292                  1                 0           0         1          0
...                ...               ...         ...       ...        ...
1095                 0                 0           1         0          1
1130                 1                 0           1         0          1
1294                 0                 0           0         1          1
860                  0                 1           1         0          0
1126                 0                 1           0         1          1

      smoker_yes
332            0
355            0
138            0
381            1
292            1
...          ...
1095           0
1130           0
1294           0
860            1
1126           0

[936 rows x 11 columns]

In [64]:
print(X_test)

      age     bmi  children  region_northeast  region_northwest  \
764    45  25.175         2                 1                 0
887    36  30.020         0                 0                 1
890    64  26.885         0                 0                 1
1293   46  25.745         3                 0                 1
259    19  31.920         0                 0                 1
...   ...     ...       ...               ...               ...
701    50  44.745         0                 1                 0
672    36  29.700         0                 0                 0
1163   18  28.215         0                 1                 0
1103   58  36.080         0                 0                 0
1295   20  22.000         1                 0                 0

      region_southeast  region_southwest  sex_female  sex_male  smoker_no  \
764                  0                 0           1         0          1
887                  0                 0           1         0          1
890                  0                 0           1         0          0
1293                 0                 0           0         1          1
259                  0                 0           0         1          0
...                ...               ...         ...       ...        ...
701                  0                 0           1         0          1
672                  1                 0           0         1          1
1163                 0                 0           1         0          1
1103                 1                 0           0         1          1
1295                 0                 1           0         1          1

      smoker_yes
764            0
887            0
890            1
1293           0
259            1
...          ...
701            0
672            0
1163           0
1103           0
1295           0

[402 rows x 11 columns]

In [65]:
print(y_train)

332     13429.03540
355     24603.04837
138     27322.73386
381     42303.69215
292     42112.23560
           ...
1095     4561.18850
1130     8582.30230
1294    11931.12525
860     46113.51100
1126    10214.63600
Name: charges, Length: 936, dtype: float64

In [66]:
print(y_test)

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
           ...
701      9541.69555
672      4399.73100
1163     2200.83085
1103    11363.28320
1295     1964.78000
Name: charges, Length: 402, dtype: float64

In [67]:
X

,age,bmi,children,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
0,19,27.900,0,0,0,0,1,1,0,0,1
1,18,33.770,1,0,0,1,0,0,1,1,0
2,28,33.000,3,0,0,1,0,0,1,1,0
3,33,22.705,0,0,1,0,0,0,1,1,0
4,32,28.880,0,0,1,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1333,50,30.970,3,0,1,0,0,0,1,1,0
1334,18,31.920,0,1,0,0,0,1,0,1,0
1335,18,36.850,0,0,0,1,0,1,0,1,0
1336,21,25.800,0,0,0,0,1,1,0,1,0
1337,61,29.070,0,0,1,0,0,1,0,0,1

In [68]:
y

0       16884.92400
1        1725.55230
2        4449.46200
3       21984.47061
4        3866.85520
           ...
1333    10600.54830
1334     2205.98080
1335     1629.83350
1336     2007.94500
1337    29141.36030
Name: charges, Length: 1338, dtype: float64

In [69]:
#Feature Scaling MinMax
from sklearn.preprocessing import MinMaxScaler
X_train = np.array(X_train)
X_test = np.array(X_test)

mm = MinMaxScaler()
cols = [0, 2]

X_train[:, cols] = mm.fit_transform(X_train[:, cols].astype(float))
X_test[:, cols] = mm.transform(X_test[:, cols].astype(float))

In [70]:
X_train

array([[ 0.93478261, 31.16      ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.60869565, 27.6       ,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.7826087 , 31.9       ,  0.6       , ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 0.86956522, 25.175     ,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.41304348, 47.6       ,  0.4       , ...,  0.        ,
         0.        ,  1.        ],
       [ 0.80434783, 29.9       ,  0.        , ...,  1.        ,
         1.        ,  0.        ]], shape=(936, 11))

In [71]:
X_test

array([[ 0.58695652, 25.175     ,  0.4       , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.39130435, 30.02      ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 1.        , 26.885     ,  0.        , ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 0.        , 28.215     ,  0.        , ...,  0.        ,
         1.        ,  0.        ],
       [ 0.86956522, 36.08      ,  0.        , ...,  1.        ,
         1.        ,  0.        ],
       [ 0.04347826, 22.        ,  0.2       , ...,  1.        ,
         1.        ,  0.        ]], shape=(402, 11))

In [72]:
import joblib

joblib.dump(X_train, "X_train.pkl")
joblib.dump(X_test, "X_test.pkl")
joblib.dump(y_train, "y_train.pkl")
joblib.dump(y_test, "y_test.pkl")

['y_test.pkl']