In [119]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [120]:
dataset = pd.read_csv("insurance20.csv")

In [121]:
df = pd.DataFrame(dataset)

In [122]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19     NaN    27.9         0    yes  southwest  16884.92400
1   18    male    male         1     no  southeast          NaN
2   33    male  22.705         0     no  northwest  21984.47061
3   32    male   28.88         0     no  northwest   3866.85520
4   31  female   25.74         0     no  southeast   3756.62160

In [123]:
# fill the missing data of the target column
df['charges'] = df['charges'].fillna(df['charges'].mean())

In [124]:
X =df[df.columns[:-1]] # Feaature  columns
y = df[df.columns[-1]] #Target columns

In [125]:
print(X)

    age     sex     bmi  children smoker     region
0    19     NaN    27.9         0    yes  southwest
1    18    male    male         1     no  southeast
2    33    male  22.705         0     no  northwest
3    32    male   28.88         0     no  northwest
4    31  female   25.74         0     no  southeast
5    46  female   33.44         1     no  southeast
6    37  female   27.74         3     no  northwest
7    37    male   29.83         2     no  northeast
8    60  female   25.84         0     no  northwest
9    25    male   26.22         0     no  northeast
10   62  female   26.29         0    yes  southeast
11   23    male    34.4         0     no  southwest
12   56  female   39.82         0     no  southeast
13   27    male   42.13         0    yes  southeast
14   19    male    24.6         1     no  southwest
15   52  female   30.78         1     no  northeast
16   23     NaN  23.845         0     no  northeast
17   56    male    40.3         0     no        NaN

In [126]:
X["region"].fillna(X['region'].mode()[0], inplace=True)

In [127]:
print(y)

0     16884.924000
1     12119.765199
2     21984.470610
3      3866.855200
4      3756.621600
5      8240.589600
6      7281.505600
7      6406.410700
8     28923.136920
9      2721.320800
10    27808.725100
11     1826.843000
12    11090.717800
13    39611.757700
14     1837.237000
15    10797.336200
16     2395.171550
17    10602.385000
Name: charges, dtype: float64

In [128]:
df.isnull().sum() # dedicte How many colmns is null

age         0
sex         2
bmi         0
children    0
smoker      0
region      1
charges     0
dtype: int64

In [129]:
df2 =df.copy()
df2.head()

   age     sex     bmi  children smoker     region       charges
0   19     NaN    27.9         0    yes  southwest  16884.924000
1   18    male    male         1     no  southeast  12119.765199
2   33    male  22.705         0     no  northwest  21984.470610
3   32    male   28.88         0     no  northwest   3866.855200
4   31  female   25.74         0     no  southeast   3756.621600

In [130]:
import warnings
warnings.filterwarnings('ignore')

In [131]:
#Filling missing data with the fillna way
df2['age'].fillna(df2['age'].mean(), inplace=True)
df2['sex'].fillna(df2['sex'].mode()[0], inplace=True)
df2['region'].fillna(df2['region'].mode()[0], inplace=True)
df2['charges'].fillna(df2['charges'].mean(), inplace=True)
print(df2.isnull().sum())
df2

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

    age     sex     bmi  children smoker     region       charges
0    19    male    27.9         0    yes  southwest  16884.924000
1    18    male    male         1     no  southeast  12119.765199
2    33    male  22.705         0     no  northwest  21984.470610
3    32    male   28.88         0     no  northwest   3866.855200
4    31  female   25.74         0     no  southeast   3756.621600
5    46  female   33.44         1     no  southeast   8240.589600
6    37  female   27.74         3     no  northwest   7281.505600
7    37    male   29.83         2     no  northeast   6406.410700
8    60  female   25.84         0     no  northwest  28923.136920
9    25    male   26.22         0     no  northeast   2721.320800
10   62  female   26.29         0    yes  southeast  27808.725100
11   23    male    34.4         0     no  southwest   1826.843000
12   56  female   39.82         0     no  southeast  11090.717800
13   27    male   42.13         0    yes  southeast  39611.757700
14   19    male    24.6         1     no  southwest   1837.237000
15   52  female   30.78         1     no  northeast  10797.336200
16   23    male  23.845         0     no  northeast   2395.171550
17   56    male    40.3         0     no  southeast  10602.385000

In [132]:
#Drop Duplicates data
df_cleaned = df2.drop_duplicates()
df2

    age     sex     bmi  children smoker     region       charges
0    19    male    27.9         0    yes  southwest  16884.924000
1    18    male    male         1     no  southeast  12119.765199
2    33    male  22.705         0     no  northwest  21984.470610
3    32    male   28.88         0     no  northwest   3866.855200
4    31  female   25.74         0     no  southeast   3756.621600
5    46  female   33.44         1     no  southeast   8240.589600
6    37  female   27.74         3     no  northwest   7281.505600
7    37    male   29.83         2     no  northeast   6406.410700
8    60  female   25.84         0     no  northwest  28923.136920
9    25    male   26.22         0     no  northeast   2721.320800
10   62  female   26.29         0    yes  southeast  27808.725100
11   23    male    34.4         0     no  southwest   1826.843000
12   56  female   39.82         0     no  southeast  11090.717800
13   27    male   42.13         0    yes  southeast  39611.757700
14   19    male    24.6         1     no  southwest   1837.237000
15   52  female   30.78         1     no  northeast  10797.336200
16   23    male  23.845         0     no  northeast   2395.171550
17   56    male    40.3         0     no  southeast  10602.385000

In [133]:
#check if the all columns types is correct and dedicte it
df2['bmi'] = pd.to_numeric(df2['bmi'], errors='coerce')

df2

    age     sex     bmi  children smoker     region       charges
0    19    male  27.900         0    yes  southwest  16884.924000
1    18    male     NaN         1     no  southeast  12119.765199
2    33    male  22.705         0     no  northwest  21984.470610
3    32    male  28.880         0     no  northwest   3866.855200
4    31  female  25.740         0     no  southeast   3756.621600
5    46  female  33.440         1     no  southeast   8240.589600
6    37  female  27.740         3     no  northwest   7281.505600
7    37    male  29.830         2     no  northeast   6406.410700
8    60  female  25.840         0     no  northwest  28923.136920
9    25    male  26.220         0     no  northeast   2721.320800
10   62  female  26.290         0    yes  southeast  27808.725100
11   23    male  34.400         0     no  southwest   1826.843000
12   56  female  39.820         0     no  southeast  11090.717800
13   27    male  42.130         0    yes  southeast  39611.757700
14   19    male  24.600         1     no  southwest   1837.237000
15   52  female  30.780         1     no  northeast  10797.336200
16   23    male  23.845         0     no  northeast   2395.171550
17   56    male  40.300         0     no  southeast  10602.385000

In [134]:
#fill the missing data of Bmi
df2['bmi'].fillna(df2['bmi'].mean(),inplace=True)
df2

    age     sex        bmi  children smoker     region       charges
0    19    male  27.900000         0    yes  southwest  16884.924000
1    18    male  30.027059         1     no  southeast  12119.765199
2    33    male  22.705000         0     no  northwest  21984.470610
3    32    male  28.880000         0     no  northwest   3866.855200
4    31  female  25.740000         0     no  southeast   3756.621600
5    46  female  33.440000         1     no  southeast   8240.589600
6    37  female  27.740000         3     no  northwest   7281.505600
7    37    male  29.830000         2     no  northeast   6406.410700
8    60  female  25.840000         0     no  northwest  28923.136920
9    25    male  26.220000         0     no  northeast   2721.320800
10   62  female  26.290000         0    yes  southeast  27808.725100
11   23    male  34.400000         0     no  southwest   1826.843000
12   56  female  39.820000         0     no  southeast  11090.717800
13   27    male  42.130000         0    yes  southeast  39611.757700
14   19    male  24.600000         1     no  southwest   1837.237000
15   52  female  30.780000         1     no  northeast  10797.336200
16   23    male  23.845000         0     no  northeast   2395.171550
17   56    male  40.300000         0     no  southeast  10602.385000

In [135]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
#Label Encoding for sex and smoker columns
df2["sex"] = le.fit_transform(df["sex"])
df2["smoker"] = le.fit_transform(df["smoker"])

#Encoding with Dummies way for the region column
df2 = pd.get_dummies(df2,columns=['region'],drop_first=False)

In [136]:
df2["region_northeast"] = df2["region_northeast"].astype(int)
df2["region_northwest"] = df2["region_northwest"].astype(int)
df2["region_southeast"] = df2["region_southeast"].astype(int)
df2["region_southwest"] = df2["region_southwest"].astype(int)

In [137]:
df2

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,2,27.900000,0,1,16884.924000,0,0,0,1
1,18,1,30.027059,1,0,12119.765199,0,0,1,0
2,33,1,22.705000,0,0,21984.470610,0,1,0,0
3,32,1,28.880000,0,0,3866.855200,0,1,0,0
4,31,0,25.740000,0,0,3756.621600,0,0,1,0
5,46,0,33.440000,1,0,8240.589600,0,0,1,0
6,37,0,27.740000,3,0,7281.505600,0,1,0,0
7,37,1,29.830000,2,0,6406.410700,1,0,0,0
8,60,0,25.840000,0,0,28923.136920,0,1,0,0
9,25,1,26.220000,0,0,2721.320800,1,0,0,0
10,62,0,26.290000,0,1,27808.725100,0,0,1,0
11,23,1,34.400000,0,0,1826.843000,0,0,0,1
12,56,0,39.820000,0,0,11090.717800,0,0,1,0
13,27,1,42.130000,0,1,39611.757700,0,0,1,0
14,19,1,24.600000,1,0,1837.237000,0,0,0,1
15,52,0,30.780000,1,0,10797.336200,1,0,0,0
16,23,2,23.845000,0,0,2395.171550,1,0,0,0
17,56,1,40.300000,0,0,10602.385000,0,0,1,0

In [138]:
from sklearn.model_selection import train_test_split
X=df2[df2.columns[:-1]]


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=10)

In [139]:
print(X_train)

    age  sex        bmi  children  smoker       charges  region_northeast  \
6    37    0  27.740000         3       0   7281.505600                 0
2    33    1  22.705000         0       0  21984.470610                 0
10   62    0  26.290000         0       1  27808.725100                 0
12   56    0  39.820000         0       0  11090.717800                 0
8    60    0  25.840000         0       0  28923.136920                 0
13   27    1  42.130000         0       1  39611.757700                 0
14   19    1  24.600000         1       0   1837.237000                 0
17   56    1  40.300000         0       0  10602.385000                 0
11   23    1  34.400000         0       0   1826.843000                 0
1    18    1  30.027059         1       0  12119.765199                 0
0    19    2  27.900000         0       1  16884.924000                 0
15   52    0  30.780000         1       0  10797.336200                 1
4    31    0  25.740000         0       0   3756.621600                 0
9    25    1  26.220000         0       0   2721.320800                 1

    region_northwest  region_southeast
6                  1                 0
2                  1                 0
10                 0                 1
12                 0                 1
8                  1                 0
13                 0                 1
14                 0                 0
17                 0                 1
11                 0                 0
1                  0                 1
0                  0                 0
15                 0                 0
4                  0                 1
9                  0                 0

In [140]:
print(X_test)

    age  sex     bmi  children  smoker     charges  region_northeast  \
3    32    1  28.880         0       0  3866.85520                 0
7    37    1  29.830         2       0  6406.41070                 1
16   23    2  23.845         0       0  2395.17155                 1
5    46    0  33.440         1       0  8240.58960                 0

    region_northwest  region_southeast
3                  1                 0
7                  0                 0
16                 0                 0
5                  0                 1

In [141]:
print(y_train)

6      7281.505600
2     21984.470610
10    27808.725100
12    11090.717800
8     28923.136920
13    39611.757700
14     1837.237000
17    10602.385000
11     1826.843000
1     12119.765199
0     16884.924000
15    10797.336200
4      3756.621600
9      2721.320800
Name: charges, dtype: float64

In [142]:
print(y_test)

3     3866.85520
7     6406.41070
16    2395.17155
5     8240.58960
Name: charges, dtype: float64

In [143]:
df2

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,2,27.900000,0,1,16884.924000,0,0,0,1
1,18,1,30.027059,1,0,12119.765199,0,0,1,0
2,33,1,22.705000,0,0,21984.470610,0,1,0,0
3,32,1,28.880000,0,0,3866.855200,0,1,0,0
4,31,0,25.740000,0,0,3756.621600,0,0,1,0
5,46,0,33.440000,1,0,8240.589600,0,0,1,0
6,37,0,27.740000,3,0,7281.505600,0,1,0,0
7,37,1,29.830000,2,0,6406.410700,1,0,0,0
8,60,0,25.840000,0,0,28923.136920,0,1,0,0
9,25,1,26.220000,0,0,2721.320800,1,0,0,0
10,62,0,26.290000,0,1,27808.725100,0,0,1,0
11,23,1,34.400000,0,0,1826.843000,0,0,0,1
12,56,0,39.820000,0,0,11090.717800,0,0,1,0
13,27,1,42.130000,0,1,39611.757700,0,0,1,0
14,19,1,24.600000,1,0,1837.237000,0,0,0,1
15,52,0,30.780000,1,0,10797.336200,1,0,0,0
16,23,2,23.845000,0,0,2395.171550,1,0,0,0
17,56,1,40.300000,0,0,10602.385000,0,0,1,0

In [145]:
#Feature Scaling MinMax
from sklearn.preprocessing import MinMaxScaler
X_train = np.array(X_train)
X_test = np.array(X_test)

mm = MinMaxScaler()

X_train[:, 3:] = mm.fit_transform(X_train[:, 3:].astype(float))
X_test[:, 3:] = mm.transform(X_test[:, 3:].astype(float))

In [146]:
X_train

array([[3.70000000e+01, 0.00000000e+00, 2.77400000e+01, 1.00000000e+00,
        0.00000000e+00, 1.44360855e-01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [3.30000000e+01, 1.00000000e+00, 2.27050000e+01, 0.00000000e+00,
        0.00000000e+00, 5.33483475e-01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [6.20000000e+01, 0.00000000e+00, 2.62900000e+01, 0.00000000e+00,
        1.00000000e+00, 6.87625797e-01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [5.60000000e+01, 0.00000000e+00, 3.98200000e+01, 0.00000000e+00,
        0.00000000e+00, 2.45173897e-01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [6.00000000e+01, 0.00000000e+00, 2.58400000e+01, 0.00000000e+00,
        0.00000000e+00, 7.17119362e-01, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [2.70000000e+01, 1.00000000e+00, 4.21300000e+01, 0.00000000e+00,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.90000000e+01, 1.00000000e+00, 2.46000000e+01, 3.33333333e-01,
        0.00000000e+00, 2.75083326e-04, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [5.60000000e+01, 1.00000000e+00, 4.03000000e+01, 0.00000000e+00,
        0.00000000e+00, 2.32249883e-01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [2.30000000e+01, 1.00000000e+00, 3.44000000e+01, 0.00000000e+00,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [1.80000000e+01, 1.00000000e+00, 3.00270588e+01, 3.33333333e-01,
        0.00000000e+00, 2.72408242e-01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [1.90000000e+01, 2.00000000e+00, 2.79000000e+01, 0.00000000e+00,
        1.00000000e+00, 3.98520974e-01, 0.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [5.20000000e+01, 0.00000000e+00, 3.07800000e+01, 3.33333333e-01,
        0.00000000e+00, 2.37409381e-01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [3.10000000e+01, 0.00000000e+00, 2.57400000e+01, 0.00000000e+00,
        0.00000000e+00, 5.10727261e-02, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00],
       [2.50000000e+01, 1.00000000e+00, 2.62200000e+01, 0.00000000e+00,
        0.00000000e+00, 2.36728813e-02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00]])

In [147]:
X_test

array([[3.20000000e+01, 1.00000000e+00, 2.88800000e+01, 0.00000000e+00,
        0.00000000e+00, 5.39901232e-02, 0.00000000e+00, 1.00000000e+00,
        0.00000000e+00],
       [3.70000000e+01, 1.00000000e+00, 2.98300000e+01, 6.66666667e-01,
        0.00000000e+00, 1.21200954e-01, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [2.30000000e+01, 2.00000000e+00, 2.38450000e+01, 0.00000000e+00,
        0.00000000e+00, 1.50411495e-02, 1.00000000e+00, 0.00000000e+00,
        0.00000000e+00],
       [4.60000000e+01, 0.00000000e+00, 3.34400000e+01, 3.33333333e-01,
        0.00000000e+00, 1.69743578e-01, 0.00000000e+00, 0.00000000e+00,
        1.00000000e+00]])